.vs/
StringEquals/bin/
StringEquals/obj/
TestingPrograms/bin/
TestingPrograms/obj/
TestingPrograms.sln.DotSettings.user
LinqNetCore7/bin/
LinqNetCore7/obj/
AutoFixture.Tests/bin/
AutoFixture.Tests/obj/
Dotnet7Example/bin/
Dotnet7Example/obj/
